.infoBox {
    flex: 1;
    cursor: pointer;
}
.infoBox:not(:last-child) {
    margin-right: 15px;
}
.infoBox--selected {
    border-top: 10px solid #cc1034;
}
.infoBox--red {
    border-color: red;
}
.infoBox--green {
    border-color: greenyellow;
}
.infoBox--black {
    border-color: black;
}
.infoBox__cases--green {
    color: lightgreen !important;
}
.infoBox__cases--grey {
    color: darkgray !important;
}
.infoBox_cases {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infoBox__cases--red {
    color: #cc1034;
}
.infoBox_total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-bottom: 15px !important;
}
